# ASN and CDN lookup
- Use ipasn library to download latest routeviews data and lookup ASN for particular IP
- other options include cymru queries (no dependency use command line)

In [6]:
from __future__ import division
%pylab inline
import pandas as pd
import numpy as np
import subprocess
import os, sys, re
from collections import defaultdict
import socket

Populating the interactive namespace from numpy and matplotlib

In [24]:
df_sites = pd.read_csv('top-1m-new.csv', nrows=500, header = None, names = ['rank', 'site'])

In [26]:
def getIP(s):
    try:
        return socket.gethostbyname(s)
        # blocked domains return IP 49.207.46.6, 49.207.46.24, 49.207.46.34 from ISP
        if IP in ['49.207.46.6', '49.207.46.24', '49.207.46.34']:
            return False
    except:
        return False

df_sites['IP'] = df_sites['site'].apply(getIP)

In [27]:
df_sites.head()

   rank           site               IP
0     1     google.com    216.58.221.46
1     2    youtube.com   172.217.167.46
2     3   facebook.com    157.240.25.35
3     4      baidu.com   220.181.57.216
4     5  wikipedia.org  103.102.166.224

In [29]:
import pyasn

asndb = pyasn.pyasn('output/ipasn_20181212.dat')  #downloaded pyasn_util_download.py --latest
asndb.lookup('8.8.8.8')

(15169, '8.8.8.0/24')

In [30]:
def findASN(ip):
    if ip:
        return asndb.lookup(ip)[0]
    else:
        return False
    
df_sites['ASN'] = df_sites['IP'].apply(findASN)

In [31]:
df_sites.head()

   rank           site               IP    ASN
0     1     google.com    216.58.221.46  15169
1     2    youtube.com   172.217.167.46  15169
2     3   facebook.com    157.240.25.35  32934
3     4      baidu.com   220.181.57.216  23724
4     5  wikipedia.org  103.102.166.224  14907